@media (max-width: 800px) {
    #form_container {
        width: 90vw;
    }
    form {
        width: 70vw;
        select {
            width: 70vw;
        }
    }
    #date_input {
        margin: auto;
        #start {
            width: 70vw;
        }
        #end {
            width: 70vw;
        }
    }
    #weather {
        card {
            width: 25vw;
            h2 {
                font-size: 1.2em;
            }
            img {
                width: 20vw;
            }
            p {
                font-size: .7em;
            }
        }
    }
}

@media (min-width: 800px) {
    body {
        font-size: 18px;
    }
    input {
        font-size: .8em;
    }
    button {
        font-size: .8em;
        padding-top: .5em;
        padding-bottom: .5em;
    }
}