@import "library";
body {
    background-color: $base-color;
    margin-top: 0;
    height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: $font;
}

form {
    display: flex;
    flex-direction: column;
    border-width: .25em;
    border-style: solid;
    border-color: $red;
    width: 40vw;
    padding-top: 1em;
    padding-right: 10em;
    padding-left: 10em;
    padding-bottom: 1em;
    margin: auto;
    label {
        text-align: left;
    }
    input {
        margin-top: .5em;
    }
    button {
        width: 10vw;
        margin: auto;
        margin-top: .5em;
    }
}

select {
    width: 40vw;
    margin-top: .5em;
    font-size: .8em;
}

#date_input {
    display: flex;
    margin-top: .5em;
    flex-direction: column;
    #start {
        display: flex;
        flex-direction: column;
    }
    #end {
        display: flex;
        flex-direction: column;
    }
    label {
        margin-top: .5em;
    }
    input {
        margin-top: .5em;
    }
    button {
        margin-top: .5em;
    }
}

#logo_pic {
    width: 4em;
    height: 4em;
    text-align: center;
}