<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Travel Application</h1>

    <form>
        <label>Destination</label>
        <input id="destination" placeholder="Destination" type="text" />
        <label>Travel Date</label>
        <input id="date" type="date" />
        <br/>
        <button id="submit" type="button">Enter</button>
    </form>

    <div id="output_container">
    </div>
</body>
<script>
    const button = document.getElementById('submit');

    button.addEventListener('click', () => {
        return MyLibrary.keysInfo;
    })
</script>

</html>