<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
    <h1>Travel Application</h1>

    <form>

        <label>Destination</label>
        <input id="destination" placeholder="Destination" type="text" />
        <button id="search" type="button"> Search </button>

        <div id="select_location"></div>

        <div id="date_input" style="display: none">

            <label>Start Date</label>
            <input id="start_date" type="date" />

            <label>End Date</label>
            <input id="end_date" type="date" />

            <br/>
            <button id="submit" type="button">Submit</button>
            <button id="clear" type="clear">Clear</button>

        </div>
    </form>
    <div id="select_location"></div>

    <div id="output_container"></div>

    <div id="weather"></div>

    <div id="loaction_pic"></div>

</body>
<script src="/dist/main.js"></script>
<script>
    //Event listener added to the search button
    MyLib.returnGeo();

    //Event listener added to the submit button
    MyLib.submitFunction();

    //This event listener will clear the current options menu
    const clearButton = document.getElementById('clear');

    clearButton.addEventListener('click', (e) => {
        e.preventDefault();
        MyLib.clearOptions();
    });
</script>

</html>